body{
    background-color: #222;
    color:#eee;
    font-family: sans-serif;
    text-align:center;
    margin-top:50px;
}
h1{
    color:#76c7c0;
}
@media(max-width:680px){
nav{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
    background-color: #333;
}
nav ul{
    display:flex;
    flex-direction:column;
    align-items: center;
    list-style-type:none;
    margin-top:10px;
}
nav ul li {
    margin-left:0px;
    margin-top:15px;
}
}
nav a {
    text-decoration: none;
    color:#eee;
}
nav .logo h1{
    color:#76c7c0;
}
section {
    padding : 60px 20px;
    max-width:800px;
    margin:0 auto;
}
section:nth-of-type(even){
    background-color: #2a2a2a;
}
section h2{
    font-size:2em;
    color:#76c7c0;
    margin-bottom:20px;
}