body{
    background-color: #222;
    color:#eee;
    font-family: sans-serif;
    text-align:center;
    margin-top:50px;
}
h1{
    color:#76c7c0;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
    background-color: #333;
}
nav ul{
    display:flex;
    list-style-type:none;
}
nav ul li {
margin-left:20px;
}
nav a {
    text-decoration: none;
    color:#eee;
}
nav .logo h1{
    color:#76c7c0;
}